doctype
html
	head
		meta(name="viewport" content="width-device-width, initial-scale=1, user-scalable=no")
		title= pagename
			&nbsp;|&nbsp;
			=sitetitle
		link(rel="stylesheet" href="css/main.css")
		link(href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')
	body
		block main
			nav(class="navbar navbar-default navbar-static-top")
				.container
					.navbar-header
						a(class="navbar-brand" href="index.html" target="_blank" title="Jmblllllr Organizations") Jmblll<span class="syotason">l</span>lr organizations
		!= yield
		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/custom.js")
		footer.footer
			.container
				p.text-muted Jmblllllr organizations
