.container
	.text-center
		section.intro
			p communication
			p &
			p collaboration
		.page-header
			h1 <span class="grater-than">>></span> "987 Workshop" vol.1
		section
			p= date
				br
				| <span class="at">@&nbsp;</span>
				= place
				| &nbsp;
				br
				a(href= addressurl title="Google map" class="address")
					= address
					&nbsp;
					| <span class="grater-than">>></span>
				br
				| INTRODUCTION & 1st DJ:&nbsp;
				= intro
				| &nbsp;hrs
				br
				| OPEN:&nbsp;
				= open
				| &nbsp;hrs
				br
				| TICKET:&nbsp;
				= ticket

			section
				h2 DJ & GUEST NAVIGATOR
				| DJ TAISEI (koganeigroovy,SK-T)
				br
				| DJ Tahey (BIGBOY)
				br
				| DJ 松尾 (koganeigroovy,月曜スペシャル)

			section
				h2 SELECT DANCER
				| たかな (koganeigroovy,ファンタスティック3)
				br
				| Kana (東京,練馬)

			section.sf
				h2 STAFF & FACILITATOR
				| たくみ (koganeigroovy,エターナルブリザード,Jmblllllr Originals)
				br
				| YORO (koganeigroovy,BIGBOY,Hi-copine,Jmblllllr Originals)
				br
				| ショタソン (koganeigroovy,SUKIMA,Jmblllllr Originals)
				br
				| baya (koganeigroovy)

			section.about
				h2 What is<br><span class="grater-than">>></span> "987 Workshop" ?

				div.what-is-workshop
					p ※ "Workshop" > 参加体験型・双方向性のグループワーク
					p 講師の話を参加者が一方的に聞くのではなく、
					p 参加者自身が討論に加わったり、体を使って体験したりするなど、参加体験型、双方向性のグループ学習。
					p 受け身型学習からの転換・脱皮として、日本でも1980年代後半以降、演劇、ダンス、美術などの芸術分野で盛んに行われるようになった。
					p (扇田昭彦 / 2007)

				div
					p "987 Workshop" は、
					p SELECT DANCERs や FACILITATOR をはじめとする全員が
					p DJ & GUEST NAVIGATOR の選曲したフロアミュージックに合わせて
					p 各々のペースで FreeStyle を披露し合う
					p ただそれだけの
					p 非常にシンプルな練習会( <span class="what-is-workshop">"Workshop"</span> )です。

			section
				h2 TIMETABLE
				p 24:30～1:30 : OPEN & blank
				p 1:30～2:00 : INTRODUCTION & DJ 松尾 × DANCERz&nbsp;
					span(class="glyphicon glyphicon-facetime-video" title="FILMING SESSION")
				p 2:00～3:00 : blank
				p 3:00～3:30 : DJ Tahey × DANCERz&nbsp;
					span(class="glyphicon glyphicon-facetime-video" title="FILMING SESSION")
				p 3:30～4:30 : blank
				p 4:30～5:00 : DJ TAISEI × DANCERz & OUTRODUCTION&nbsp;
					span(class="glyphicon glyphicon-facetime-video" title="FILMING SESSION")
				p 5:00～5:30 : blank
				p 5:30～6:00 : CLOSE
