.container
	.text-center
		section.intro
			p communication
			p &
			p collaboration
		.page-header
			h1 <span class="grater-than">>></span> "987 Workshop" vol.1
		section
			p= date
				br
				| <span class="at">@&nbsp;</span>
				= place
				| &nbsp;
				br
				a(href= addressurl title="Google map" class="address")
					= address
					&nbsp;
					| <span class="grater-than">>></span>
				br
				| INTRODUCTION & 1st DJ:&nbsp;
				= intro
				| &nbsp;hrs
				br
				| OPEN:&nbsp;
				= open
				| &nbsp;hrs
				br
				| TICKET:&nbsp;
				= ticket

			section
				h2 DJ & GUEST NAVIGATOR
				| DJ TAISEI (koganeigroovy,SK-T)
				br
				| DJ Tahey (BIGBOY)
				br
				| DJ 松尾 (koganeigroovy,月曜スペシャル)

			section
				h2 SELECT DANCER
				| たかな (koganeigroovy,ファンタスティック3)
				br
				| Kana (東京,練馬)

			section
				h2 STAFF & FACILITATOR
				| たくみ (koganeigroovy,エターナルブリザード)
				br
				| YORO (koganeigroovy,BIGBOY,Hi-copine)
				br
				|ショタソン (koganeigroovy,SUKIMA)

			section
				h2 TIMETABLE
				p 24:30～1:30 : OPEN & blank
				p 1:30～2:00 : INTRODUCTION & DJ 松尾 × DANCERz&nbsp;
					span(class="glyphicon glyphicon-facetime-video" title="FILMING SESSION")
				p 2:00～3:00 : blank
				p 3:00～3:30 : DJ Tahey × DANCERz&nbsp;
					span(class="glyphicon glyphicon-facetime-video" title="FILMING SESSION")
				p 3:30～4:30 : blank
				p 4:30～5:00 : DJ TAISEI × DANCERz&nbsp;
					span(class="glyphicon glyphicon-facetime-video" title="FILMING SESSION")
				p 5:05～5:30 : DJ 松尾 (OUTTAKE)
				p 5:30～6:00 : OUTRO ~ CLOSE
